/* content */

#page
	background: transparentize(#222, 0.4)
	padding: 20px
	border: 1px solid #222
	box-shadow: 0 0 1px black
	+border-radius( 0 0 10px 10px )

#content
	margin-right: $sidebar-width + 10px

#sidebar
	float: right
	width: $sidebar-width
	height: 100%
	
	h3, h4, h5
		margin: 0
		padding: 8px
		width: 100%
		+border-radius(8px 8px 0 0)
		+box-shadow( 0 1px 1px grey inset )
