/* content */
#page, #footer
	min-width: 960px
	max-width: 1300px
	margin: 0 auto
	padding: 0 20px

#content
	margin-right: $sidebar-width + 10px

#sidebar
	float: right
	width: $sidebar-width
	height: 100%
	padding-left: 10px
	border-left: 1px dashed grey
